@model Site_Lab12.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { @class = "forms cform" }))
{

    <div class="comment-form">
  
        <div class="form-container">



            <fieldset>
                <ol>
                    <li class="form-row text-area-row">
                        <label>Заголовок</label>
                        <textarea name="title" id="title" class="text-area required">@Model.Title</textarea>
                    </li>
                    <li class="form-row text-area-row">
                        <label>Коментар</label>
                        <textarea name="text" id="text" class="text-area required">@Model.BodyText</textarea>
                    </li>
                    <li class="form-row hidden-row">
                        <input type="hidden" name="postId" id="postId1" value="@Model.Id" />
                    </li>
                    <li class="button-row">
                        <input type="submit" id="yes" value="Submit" name="submit1" class="btn-submit" />
                    </li>
                </ol>
                <input type="hidden" name="v_error" id="v-error" value="Required" />
                <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
            </fieldset>



        </div>
    </div>}

<script type="text/javascript">
    function timer() {
        $('#loading').css("display", "none");
    }
    var $loading = $('#loading').hide();
    $('#yes').click(function () {
        $('#loading').css("display", "inline");
        setTimeout(timer, 2000);
        ////alert("Збережено");
            
    });
        </script>
<div>

        <div id="loading" style="display:none; color:Red; font-weight:bold;">
    <p>Збережено</p>
</div>
    @Html.ActionLink("Back to List", "Index")
</div>
