@{
    Layout = "~/Views/Try/new_layout.cshtml";
}
@{
    ViewBag.Title = "Home page";
}




<div class="intro">Speach</div>
<div class="hr2"></div>
<!-- Divider -->
<!-- Begin Top Columns -->
<h2>Що це таке</h2>
<div class="two-third">
    <p>
        Speach - це соціальна мережа для швидкої і зручної комунікації між людьми по всьому світу.
        Завдання Speach — в кожен окремо взятий момент залишатися швидким і естетичним способом спілкування в мережі.іхто не має впливу на соціальну мережу SocialFace.
        Проект не має на меті заробити гроші, мета соціальної мережі поєднати Україну в національній мережі.
    </p>
</div>

<!-- End Top Columns -->

<div class="clear"></div>
<br />
<br />
<br />

<!-- Begin 4 Columns -->

<div class="one-fourth">
    <img src="style/images/icon1.png" alt="" class="center" /><br />
    <h4 class="center">Створення дописів</h4>
    <p class="center">Ви можете створювати власні дописи у мережі Speach</p>
</div>
<div class="one-fourth">
    <img src="style/images/icon2.png" alt="" class="center" /><br />
    <h4 class="center">Коментування дописів інших користувачів</h4>
    <p class="center">Передбачена можливість коментування дописів інших користувачів Speach</p>
</div>
<div class="one-fourth">
    <img src="style/images/icon3.png" alt="" class="center" /><br />
    <h4 class="center">Онлайн-спілкування</h4>
    <p class="center">Ви можете безперешкодно почати спілкування з любим користувачем Speach</p>
</div>
<div class="one-fourth last">
    <img src="style/images/icon4.png" alt="" class="center" /><br />
    <h4 class="center">Тех-підтримка</h4>
    <p class="center">Ми 24/7 працюємо, для того щоб зробити Speach кращою!</p>
</div>
<div class="clear"></div>
<!-- Divider -->
<!-- Begin Latest Works -->
<!-- End Latest Works -->

<div id="footer">
    <div class="footer-top"></div>
    <!-- Divider -->
    <div class="one-fourth">
        <h3>Останні публікації</h3>
        <ul class="latest-posts">
            <li><span class="date"><em class="day">22</em><em class="month">Jun</em></span> <a href="#">Vivamus soder pharetra libero atincidunt</a> </li>
            <li><span class="date"><em class="day">14</em><em class="month">May</em></span> <a href="#">Vivamus soder pharetra libero atincidunt</a> </li>
            <li><span class="date"><em class="day">11</em><em class="month">May</em></span> <a href="#">Vivamus soder pharetra libero atincidunt</a> </li>
            <li><span class="date"><em class="day">08</em><em class="month">Apr</em></span> <a href="#">Vivamus soder pharetra libero atincidunt</a> </li>
        </ul>
    </div>
    <div class="one-fourth">
        <h3>Нові користувачі</h3>
        <ul class="latest-posts">
            <li>Імя 1</li>
            <li>Імя 2</li>
            <li>Імя 1</li>
            <li>Імя 2</li>
            <li>Імя 1</li>

        </ul>
    </div>
    <div class="one-fourth">
        <h3>About</h3>
        <p>Speach - це соціальна мережа для швидкої і зручної комунікації між людьми по всьому світу.</p><p>
            Завдання Speach — в кожен окремо взятий момент залишатися швидким і естетичним способом спілкування в мережі.
            <br />
        <p>Долучайтесь до нашої команди!</p>
    </div>
    <div class="one-fourth last">
        <h3>Надішліть заяву</h3>
        <!-- Form -->
        <div class="form-container">
            <form class="forms" action="contact/form-handler.php" method="post">
                <fieldset>
                    <ol>
                        <li class="form-row text-input-row">
                            <label>Імя*</label>
                            <input type="text" name="name" value="" class="text-input required" title="" />
                        </li>
                        <li class="form-row text-input-row">
                            <label>Email*</label>
                            <input type="text" name="email" value="" class="text-input required email" title="" />
                        </li>
                        <li class="form-row text-area-row">
                            <textarea name="message" class="text-area required"></textarea>
                        </li>
                        <li class="form-row hidden-row">
                            <input type="hidden" name="hidden" value="" />
                        </li>
                        <li class="button-row">
                            <input type="submit" value="Submit" name="submit" class="btn-submit" />
                        </li>
                    </ol>
                    <input type="hidden" name="v_error" id="v-error" value="Required" />
                    <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
                </fieldset>
            </form>
            <div class="response"></div>
        </div>
        <!-- End Form -->
    </div>
    <div class="clear"></div>
</div>

